[variables]
    PHP_EXTENSIONS = "pdo, pdo_mysql, iconv, mbstring, intl, gd"
    APP_ENV = "prod"
    APP_DEBUG = "0"

[phases.setup]
    nixPkgs = ["...", "php83Extensions.gd"]

[phases.build]
    dependsOn = ['install']
    cmds = [
        'php bin/console tailwind:build --minify',
        'php bin/console asset-map:compile',
        'mkdir -p public/uploads/images'
    ]

[start]
    cmd = 'php bin/console doctrine:migrations:migrate --no-interaction && php bin/console cache:clear --env=prod && php -S 0.0.0.0:${PORT:-8080} -t public'