[variables]
    # Añadimos 'intl' que te la pedía el log
    PHP_EXTENSIONS = "pdo, pdo_mysql, iconv, mbstring, intl"
    APP_ENV = "prod"

[phases.build]
    dependsOn = ['install']
    cmds = [
        'php bin/console tailwind:build --minify',
        'php bin/console asset-map:compile'
    ]

[phases.setup]
    cmds = [
        # Esto ya sabemos que funciona por tus logs
        'php bin/console doctrine:migrations:migrate --no-interaction',
        'php bin/console cache:clear'
    ]