{% extends 'base.html.twig' %}

{% block title %}Editar Outfit{% endblock %}

{% block body %}
    <div class="mb-5">
        <h1 class="h2 fw-bold">Editar Outfit</h1>
    </div>

    {{ include('outfit/_form.html.twig', {'button_label': 'Actualizar Outfit'}) }}
{% endblock %}
